<launch>

<group ns="1">
  <!-- node -->
    <node pkg="ratio_consensus" type="node.py" name="node" output="screen">
    <param name="~id" type="double" value="1"/>
    <param name="~master" type="bool" value="True"/>
    </node>
</group>

<group ns="2">
  <!-- node -->
    <node pkg="ratio_consensus" type="node.py" name="node" output="screen">
    <param name="~id" type="double" value="2"/>
    <param name="~master" type="bool" value="True"/>
    </node>
</group>

<group ns="3">
  <!-- node -->
    <node pkg="ratio_consensus" type="node.py" name="node" output="screen">
    <param name="~id" type="double" value="3"/>
    <param name="~master" type="bool" value="True"/>
    </node>
</group>

<group ns="4">

  <!-- node -->
    <node pkg="ratio_consensus" type="node.py" name="node" output="screen">
    <param name="~id" type="double" value="4"/>
    <param name="~master" type="bool" value="True"/>
    </node>
</group>

<group ns="5">

  <!-- node -->
    <node pkg="ratio_consensus" type="node.py" name="node" output="screen">
    <param name="~id" type="double" value="5"/>
    <param name="~master" type="bool" value="True"/>
    </node>
</group>

<group ns="6">

  <!-- node -->
    <node pkg="ratio_consensus" type="node.py" name="node" output="screen">
    <param name="~id" type="double" value="6"/>
    <param name="~master" type="bool" value="True"/>
    </node>
</group>


<group ns="7">

  <!-- node -->
    <node pkg="ratio_consensus" type="node.py" name="node" output="screen">
    <param name="~id" type="double" value="7"/>
    <param name="~master" type="bool" value="True"/>
    </node>
</group>

<group ns="8">

  <!-- node -->
    <node pkg="ratio_consensus" type="node.py" name="node" output="screen">
    <param name="~id" type="double" value="8"/>
    <param name="~master" type="bool" value="True"/>
    </node>
</group>

<group ns="9">

  <!-- node -->
    <node pkg="ratio_consensus" type="node.py" name="node" output="screen">
    <param name="~id" type="double" value="9"/>
    <param name="~master" type="bool" value="True"/>
    </node>
</group>

</launch>
